name: release-actions-workflow
on:
  push
      
permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build:
    name: Create Release
    strategy:
      matrix:
        os: [ "ubuntu-latest" ] # , "windows-latest"
    runs-on: ${{ matrix.os }}
    env:
      target_repo: ""
    steps:
      - shell: cmd
        if: ${{ matrix.os == 'windows-latest' }}
        run: | 
          git config --global user.name "dirkarnez" && ^
          git config --global user.email "smalldirkalex@gmail.com" && ^
          git clone https://dirkarnez:${{ secrets.GH_PAT }}@github.com/dirkarnez/${{ env.target_repo }}.git && ^
          cd "${{ env.target_repo }}" && ^
          rmdir /s /q .git && ^
          git init && ^
          git remote add origin https://dirkarnez:${{ secrets.GH_PAT }}@github.com/dirkarnez/${{ env.target_repo }}.git && ^
          git add * && ^
          git commit -m "- init" && ^
          git branch -M main && ^
          git push --force -u origin main

# files under .github/workflows/ may be gone
      - shell: bash
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: | 
          git config --global user.name "dirkarnez" && \
          git config --global user.email "smalldirkalex@gmail.com" && \
          git clone https://dirkarnez:${{ secrets.GH_PAT }}@github.com/dirkarnez/${{ env.target_repo }}.git && \
          cd "${{ env.target_repo }}" && \
          rm -rf .git && \
          git init && \
          git remote add origin https://dirkarnez:${{ secrets.GH_PAT }}@github.com/dirkarnez/${{ env.target_repo }}.git && \
          git add * && \
          git commit -m "- init" && \
          git branch -M main && \
          git push --force -u origin main
